exportPattern("^[^\\.]")
importFrom(pls, plsr,explvar,crossval)
importFrom(Kendall,Kendall)
importFrom(fields,Krig,surface,tim.colors,image.plot,predictSurface)
importFrom(sp,spDistsN1)
importFrom(readxl,read_excel)
importFrom(XML,htmlParse,getNodeSet,xmlToDataFrame,getChildrenStrings)
importFrom(httr,POST,content)
importFrom(grDevices,bmp,colorRampPalette,dev.off,png,tiff,gray.colors,rainbow,rgb)
importFrom(graphics,arrows,axis,box,grconvertX,lines,mtext,par,plot,points,barplot,contour,image,layout,rect,text)
importFrom(stats,aggregate,coef,sd,median)
importFrom(utils,stack,write.csv,download.file,read.csv,read.fwf,read.table,unzip)
